<!DOCTYPE html>

<title>New Candidato</title>

{% block body %}
    <h1>Create new Candidato</h1>

    {{ include('candidato/_form.html.twig') }}

    <a href="{{ path('app_candidato_index') }}">back to list</a>
{% endblock %}
