<div class="card shadow mb-4">
    {% if title is defined %}
        <div class="card-header">
            <h5 class="mb-0">{{ title }}</h5>
        </div>
    {% endif %}

    <div class="card-body">
        {{ content|raw }}
    </div>
</div>